{% extends 'baseLayout.html' %}
{% block content%}
  <h2>Search the video database</h2>
  <form action="{% url 'rips:list' %}" method="post">
    {% csrf_token %}
    {% if request.GET.search %}
      <input type="text" name="searchTerms" placeholder="Search for title or ID" value="{{ request.GET.search }}"/>
    {% else %}
      <input type="text" name="searchTerms" placeholder="Search for title or ID"/>
    {% endif %}
    <input type="submit" value="Search"/>
    <select name="sort" selectedIndex=2>
      <option value="date">By upload date</option>
      <option value="title" {% if request.GET.sort == 'title' %} selected {% endif %}>By title</option>
      <!--<option value="length" {% if request.GET.sort == 'length' %} selected {% endif %}>By length</option>-->
      <option value="views" {% if request.GET.sort == 'views' %} selected {% endif %}>By views</option>
    </select>
    <select name="sortType">
      <option value="descending">Descending</option>
      <option value="ascending" {% if request.GET.order == 'ascending' %} selected {% endif %}>Ascending</option>
    </select>
    <select name="filter">
      <option value="unfiltered">No filter</option>
      <option value="documented" {% if request.GET.filter == 'documented' %} selected {% endif %}>Documented</option>
      <option value="undocumented" {% if request.GET.filter == 'undocumented' %} selected {% endif %}>Undocumented</option>
      <option value="public" {% if request.GET.filter == 'public' %} selected {% endif %}>Public</option>
      <option value="unlisted" {% if request.GET.filter == 'unlisted' %} selected {% endif %}>Unlisted</option>
      <option value="private" {% if request.GET.filter == 'private' %} selected {% endif %}>Private</option>
      <option value="deleted" {% if request.GET.filter == 'deleted' %} selected {% endif %}>Deleted</option>
      <option value="unavailable" {% if request.GET.filter == 'unavailable' %} selected {% endif %}>Unavailable</option>
    </select>
    <!--
    <select name="maxResults">
      <option value="100">100 results</option>
      <option value="1000">1,000 results</option>
      <option value="10000">10,000 results</option>
      <option value="100000">Show all</option>
    </select>
    -->
  </form>
  <a class="smallText" href="{% url 'channels:list' %}">Search for channels instead</a>
  <table class="rips">
    <tr class="rip">
      <th>Video Title</th>
      <th>Video ID</th>
      <th>Wiki Status</th>
      <th>Video Status</th>
      <th>Upload Date</th>
      <th>Channel</th>
      <th>Length</th>
      <th>Views</th>
    </tr>
    {% for rip in rips %}
      <tr class="rip">
        <td><a href="{% url 'rips:details' rip.slug %}">{{rip.title}}</a></td>
        <td><a href="https://www.youtube.com/watch?v={{ rip.videoId }}" target="_blank">{{ rip.videoId }}</a></td>
        <td>{{ rip.wikiStatus }}</td>
        <td>{{ rip.videoStatus }}</td>
        <td>{{ rip.uploadDate }}</td>
        <td><a href="{% url 'channels:details' rip.channel.slug %}">{{ rip.channel }}</a></td>
        <td>{{ rip.length }}</td>
        <td>{{ rip.viewCount }}</td>
      </tr>
    {% endfor %}
  </table>
  <div style="margin-top:16px; text-align:center;">
    <a href="{{ urls.0 }}"><</a>
    {% if request.GET.page %} {{ request.GET.page }} {% else %} 1 {% endif %}
    <a href="{{ urls.1 }}">></a>
  </div>
{% endblock %}
