
/*
Skin: #ECBCA7
Tie: #104381
Coat: #BBBBBB
*/


html {
  padding-left: 96px;
  padding-right: 96px;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
}

header {
  font-size: 32px;
  color: #BBBBBB;
  padding-left: 16px;
  /*
  border: 2px solid yellow;
  //*/
}

#nav {
  /*
  border: 2px solid red;
  //*/
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BBBBBB;
}

#nav li {
  float: left;
}

#nav li a {
  color: #f8f8f8;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #999999;
}

#main {
  padding: 16px;
  flex-grow: 1;
  background-color: #f8f8f8;
  /*
  border: 2px solid green;
  //*/
}

#database {

}

#generator {

}

#report {

}

hr {
  color: #BBBBBB;
  margin: 0;
  border-top: 0;
  border-width: 1.4px;
  border-style: solid;
}

footer {
  color: #BBBBBB;
  text-align: center;
  background-color: #f8f8f8;
  /*
  border: 2px solid blue;
  //*/
}
