{% extends 'baseLayout.html' %}
{% block content%}
  <h2>Submit channels, videos, or general feedback</h2>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeJYoGiaMNz5V4ReJDgfkQXvF8cdgYCbcrXupjR4-nl37qLYQ/viewform?embedded=true"
  style="width: 100%; min-height: 595px;" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScrHZiEcqbWb1hgOubRfvzM13497BfpR0I-hNBjmD57SumLlA/viewform?embedded=true"
  style="width: 100%; min-height: 615px;" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdEGJsC0sPr3e_Vrv8T9NS28zTsvJwUyLPB6yhNZkQezhb5tA/viewform?embedded=true"
  style="width: 100%; min-height: 595px;" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduqnZ9h9pgsZPulzduhuOAMW1m4U0vg7U5KMMjzws0n7al6A/viewform?embedded=true"
  style="width: 100%; min-height: 595px;" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock %}
