{% extends 'baseLayout.html' %}
{% block content%}
  <h2>Search for channels in the database</h2>
  <form action="{% url 'channels:list' %}" method="post">
    {% csrf_token %}
    {% if request.GET.search %}
      <input type="text" name="search" placeholder="Search for title or ID" value="{{ request.GET.search }}"/>
    {% else %}
      <input type="text" name="search" placeholder="Search for title or ID"/>
    {% endif %}
    <input type="submit" value="Search"/>
    <select name="sort">
      <option value="publishedAt">By join date</option>
      <option value="title" {% if request.GET.sort == 'title' %} selected {% endif %}>By title</option>
      <option value="subscriberCount" {% if request.GET.sort == 'subscriberCount' %} selected {% endif %}>By subscribers</option>
    </select>
    <select name="order">
      <option value="descending">Descending</option>
      <option value="ascending" {% if request.GET.order == 'ascending' %} selected {% endif %}>Ascending</option>
    </select>
    <!-- Channel type will remain commented out until all channels in the database are manually reviewed and updated -->
    <select name="channelType" style="display:none;">
      <option value="default">SiIvaGunner and fan channels</option>
      <option value="original">SiIvaGunner channels</option>
      <option value="all" {% if request.GET.channelType == 'all' %} selected {% endif %}>All channels</option>
    </select>
    {% if request.GET.minimumSubscribers %}
      <input type="number" name="minimumSubscribers" placeholder="Minimum subscribers" value="{{ request.GET.minimumSubscribers }}"/>
    {% else %}
      <input type="number" name="minimumSubscribers" placeholder="Minimum subscribers"/>
    {% endif %}
  </form>
  <table class="channels">
    <tr class="channel">
      <th>Channel Title</th>
      <th>Channel ID</th>
      <th>Status</th>
      <th>Join Date</th>
      <th>Subscribers</th>
    </tr>
    {% for channel in channels %}
      <tr class="channel">
        <td><a href="{% url 'channels:details' channel.id %}">{{ channel.title }}</a></td>
        <td><a href="https://www.youtube.com/channel/{{ channel.id }}" target="_blank">{{ channel.id }}</a></td>
        <td>{{ channel.channelStatus }}</td>
        <td>{{ channel.publishedAt }}</td>
        <td>{{ channel.subscriberCount }}</td>
      </tr>
    {% endfor %}
  </table>
  <div class="pageDiv">
    <div style="text-align:left;">
      {% for pageNumber in pageNumbers %}
        {% if pageNumber == "skip" %}
          . . .
        {% elif pageNumber == "current" %}
          <span class="buttonStyleLinkActive">{{ currentPage }}</span>
        {% else %}
          <a class="buttonStyleLink" href="{{ searchUrl }}page={{ pageNumber }}">{{ pageNumber }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div style="text-align:right;">
      Found {{ resultCount }} results
    </div>
  </div>
{% endblock %}
