/*
Skin: #ECBCA7
Tie: #104381
Coat: #BBBBBB
*/

html {
  padding-left: 182px;
  padding-right: 182px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  padding-left: 16px;
  font-size: 32px;
  /* border: 2px solid yellow; */
}

#headerLink {
  color: #BBBBBB;
}

a {
  text-decoration: none;
}

textarea {
  width: 100%;
}

#template {
  border: none;
  background-color: inherit;
}

#thumbnail img {
   width: 320px;
   height: 180px;
}

#nav {
  /* border: 2px solid red; */
}

#nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #BBBBBB;
}

#nav li {
  float: left;
}

#nav li a {
  padding: 16px;
  text-align: center;
  text-decoration: none;
  color: #f8f8f8;
}

#nav li a:hover {
  background-color: #999999;
}

#main {
  padding: 16px;
  flex-grow: 1;
  color: #999999;
  background-color: #f8f8f8;
  /* border: 2px solid green; */
}

hr {
  margin: 0;
  border-top: 0;
  border-width: 1px;
  border-style: solid;
  color: #BBBBBB;
}

footer {
  padding: 8px 0 4px 0;
  text-align: center;
  background-color: #f8f8f8;
  /* border: 2px solid blue; */
}
