/*
Skin: #ECBCA7
Tie:  #104381
Coat: #BBBBBB


Light: #F8F8F8
Medium:#DDDDDD
Dark:  #BBBBBB
Hover: #999999
Text:  #444444
*/

html {
  padding: 0 calc((100% - 1024px)/2);
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 1024px;
  display: flex;
  flex-flow: column;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  padding-left: 16px;
  font-size: 32px;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #BBBBBB;
}

nav li {
  float: left;
}

nav li a {
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: #F8F8F8;
}

nav li a:hover {
  background-color: #999999;
}

#headerLink {
  color: #BBBBBB;
}

main {
  padding: 16px;
  flex-grow: 1;
  color: #444444;
  background-color: #F8F8F8;
}

footer {
  padding-top: 6px;
  text-align: center;
  background-color: #BBBBBB;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

textarea {
  width: 100%;
  color: #444444;
}

#video {
  margin: 4px 8px 0 0;
  float: left;
}

#videoInfo {
  margin: 4px 0;
  float: left;
}

#videoDesc {
  clear: left;
}

#template {
  border: none;
  background-color: inherit;
}

#thumbnail img {
  height: 180px;
  width: 320px;
}

#searchContainer {
  padding-top: 2.4px;
}

.box {
  margin: 0 0 6px 0;
  padding: 4px;
  width: auto;
  background-color: #DDDDDD;
  border: 1px solid #444444;
  border-radius: 4px;
}

.searchBox {
  float: left;
}

.searchBtn {
  margin-left: 2px;
  float: left;
  height: 22px;
  width: 21px;
  background-image: url("images/search.png");
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: 21px 22px;
  border: none;
}

@media only screen and (max-width: 1024px) {
  html {
    padding: 0;
  }

  body {
    width: auto;
  }

  iframe {
    height: 240px;
    width: 426px;
  }
}

/* For mobile viewing */
@media only all and (max-width: 768px) {
}
