/*
Skin: #ECBCA7
Tie:  #104381
Coat: #BBBBBB

Light:#f8f8f8
Dark: #999999
*/

html {
  padding: 0 240px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  padding-left: 16px;
  font-size: 32px;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #BBBBBB;
}

nav li {
  float: left;
}

nav li a {
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: #f8f8f8;
}

nav li a:hover {
  background-color: #999999;
}

#headerLink {
  color: #BBBBBB;
}

main {
  padding: 16px;
  flex-grow: 1;
  color: #999999;
  background-color: #f8f8f8;
}

footer {
  padding-top: 6px;
  text-align: center;
  background-color: #BBBBBB;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

textarea {
  width: 100%;
}

#video {
  margin: 4px 4px 0 0;
  float: left;
}

#videoInfo {
  float: left;
  min-width: 426px;
  max-width: calc(100% - 560px - 8px);
}

#videoDesc {
  clear: left;
  max-width: 560px;
}

#template {
  border: none;
  background-color: inherit;
}

#thumbnail img {
   width: 320px;
   height: 180px;
}

#searchContainer {
  padding-top: 2.4px;
}

.searchBox {
  float: left;
}

.searchBtn {
  background-image: url("images/search.png");
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: 21px 22px;
  margin-left: 2px;
  float: left;
  height: 22px;
  width: 21px;
  border: none;
}

@media only screen and (max-width: 1024px) {
  html {
    padding: 0 120px;
  }

  iframe {
    width: 426px;
    height: 240px;
  }

  #videoInfo {
    max-width: calc(100% - 426px - 8px);
  }
}

/* For mobile viewing */
@media only all and (max-width: 768px) {
  html {
    padding: 0;
  }
}
