{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="A searchable database of information retrieved from SiIvaGunner videos." />
    <title>SiIvaGunner Database</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149462139-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149462139-2');
    </script>
  </head>
  <body>
    <header class="wrapper">
      <div>
        <a id="headerTitle" href="{% url 'home' %}">SiIvaGunner Database</a>
      </div>
      <ul>
        {% if user.is_authenticated %}
          <li>
            <form class="logoutLink" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
            <li><a href="{% url 'accounts:myAccount' %}">Account</a></li>
          </li>
        {% else %}
          <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Search database</a></li>
        <li><a href="{% url 'generate' %}">Generate rip template</a></li>
        <li><a href="{% url 'reports:add' %}">Report a bug</a></li>
      </ul>
    </nav>
    <main>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <a target="_blank" href="https://github.com/SiIvaGunner-Database">SiIvaGunner Database</a>
    </footer>
  </body>
</html>
